/* Resetear estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales para todo el sitio */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:#ffff;
    color: #020202;
}

/* Encabezado */
header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

/* Barra de navegación */
nav {
    background-color: #000000;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: #0726d8; /* Rojo tomate al pasar el ratón */
}

/* Contenido Principal */
main {
    padding: 20px;
}

/* Secciones dentro del contenido */
section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

section p, section ul {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Formulario de contacto */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #090c9e; /* Rojo tomate */
}

/* Pie de página */
footer {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    font-size: 1em;
}
h2{
    color: black
}
p{
    color: black
}